h1 {
    text-align: center;
    text-shadow: 6px 2px 2px rgb(100, 127, 127);
}

body {
    text-align: center;
    color: #000000;
    background-color:rgb(220, 228, 227);
    font-size: 1.75em;
    font-family: 'Pixelify Sans', sans-serif;
}

#defaultCanvas0 {
    border: 4px solid black;
    border-radius: 10px;
    background-color: white;
    color: white;
}

#controls {
    text-align: center;
}