h1 {
    text-align: center;
    font-family: 'Pixelify Sans', sans-serif;
}

body {
    color: #6a5a99;
    background-color:deepskyblue;
    font-size: 1.75em;
    text-shadow: 2px 2px 2px black;
}

#defaultCanvas0 {
    border: 4px solid black;
    border-radius: 10px;
    background-color: white;
    color: white;
}